<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648393889772-8qh848tmg925cu0fa0hd914em4msi70d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648393889772-8qh848tmg925cu0fa0hd914em4msi70d</string>
	<key>API_KEY</key>
	<string>AIzaSyC4lBTW5ocWpkzxeB5_VOxr6zOBZhvvOHs</string>
	<key>GCM_SENDER_ID</key>
	<string>648393889772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.riatsa.pokt</string>
	<key>PROJECT_ID</key>
	<string>pokt-4b819</string>
	<key>STORAGE_BUCKET</key>
	<string>pokt-4b819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648393889772:ios:f4776a7a2665927d5152c9</string>
	<key>DATABASE_URL</key>
	<string>https://pokt-4b819.firebaseio.com</string>
</dict>
</plist>